.titulo_correo {
  color: #005c9b;
  margin-top: 50px;
  margin-bottom: 50px; }

.contenido_correcto {
  color: #005c9b;
  font-size: 20px; }

.btn_1 {
  background-color: transparent;
  border: 1px solid #005c9b;
  margin-bottom: 50px;
  padding: 10px;
  color: #747477; }
