*
{
  padding:0px;
  margin:0px;
   -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;     
}
/*----------------------
        menu
-----------------------*/
.img-menu
{
    width: 15%
}
.img-nav
{
    width: 130px;
    margin-top: -15px;
    position: relative;
}

/*----------------------
      fin menu
-----------------------*/

/*------------------
    estilos video
-------------------*/
#seccion-video
{
    position: absolute;
}

.video-principal
{
    
}

/*------------------
    estilos video
-------------------*/

/*------------------
    texto inicio
--------------------*/

.texto-inicio
{
    font-size: 24px;
    margin-top: 0px;
    color: #4f6a90;
    margin-bottom: 50px;
    text-align: center;
    padding: 10px 0px;
}

/*-------------------
    fin estilos texto inicio
---------------------*/

/*-------------------
estilos texto/imagen
---------------------*/
#seccion-texto-imagen
{
    position: relative;
    background-color: #005c9b;
}



.titulo-txt-img
{
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contenido-txt-img
{
    color: white;
    padding: 10px;
    font-size: 16px;
}
/*-------------------
fin estilos texto/imagen
---------------------*/

/*---------------------
    seccion alianza
-----------------------*/
#seccion-alianza
{
    position: relative;
    margin-bottom: 100px;
}

#seccion-alianza h1
{
    color: #005c9b;
    text-transform: uppercase;
    margin: 50px;
}

.imagen-alianza
{
    margin: 10px;
}
/*---------------------
  fin seccion alianza
-----------------------*/

/*---------------------
    parallax
-----------------------*/
#parallax-inicio
{
    background: url(../img/parallax/INICIO.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    margin-top: 100px;
    max-width: 100%;
}

.titulo-parallax
{
    padding: 100px 20px;
    color: white;
    margin-left: 10px;
}
/*-----------------------
     fin parallax
------------------------*/

/*------------------------
    seccion testimoniales
--------------------------*/
#seccion-testimonios
{
    position: relative;
    margin-bottom: 100px;
}

#seccion-testimonios h1
{
   
}

.imagen-testimonios
{
     margin: 10px;
}
/*-------------------------
 fin seccion testimoniales
---------------------------*/



/*--------------------
responsive de pagina inicio
----------------------*/
@media screen and (max-width:1200px) and (min-width:995px)
{
      .imagen-alianza
    {
        margin: 10px;
        margin-left: -80px;
        width: 170px;
    }
    .imagen-testimonios
    {
        margin: 10px;
        margin-left: -80px;
        width: 170px;
    }
        .texto-inicio
    {
        font-size: 24px;
        margin-top: -200px;
        color: #4f6a90;
        padding: 10px;
        text-align: center;
    }
}
 @media screen and (max-width:994px) and (min-width: 768px)
{
     .video-principal
    {
        margin-top: -310px;
    }
    
       .texto-inicio
    {
        font-size: 24px;
        margin-top: -200px;
        color: #4f6a90;
        padding: 10px;
        text-align: center;
    }
     .imagen-texto
    {
        width: 100%;
        height: auto;
        padding: 10px;
        margin-top: 100px;
    }
    
    .titulo-txt-img
    {
        font-size: 22px;
    }
    
    .contenido-txt-img
    {
        padding: 20px;
        font-size: 14px;
        text-align: justify;
    }
     .imagen-alianza
    {
        margin: 10px;
        margin-left: -80px;
        width: 170px;
    }
    .imagen-testimonios
    {
        margin: 10px;
        margin-left: -80px;
        width: 170px;
    }
    .img-menu
    {
        width: 50px;
    }
}

@media screen and (max-width: 767px)
{
    .video-principal
    {
        margin-top: -350px;
    }
     .texto-inicio
    {
        font-size: 20px;
        margin-top: -200px;
        color: #4f6a90;
        padding: 20px;
        text-align: center;
    }
    
    .imagen-texto
    {
        width: 100%;
        height: auto;
        padding: 10px
    }
    
    .titulo-txt-img
    {
        font-size: 28px;
    }
    
    .contenido-txt-img
    {
        font-size: 16px;
        padding: 20px;
        text-align: justify;
    }
    .img-menu
    {
        width: 50px;
    }
}

@media screen and (max-width: 450px)
{
    .video-principal
    {
        margin-top: -400px;
    }
    
    .texto-inicio
    {
        font-size: 16px;
        margin-top: -300px;
        color: #4f6a90;
        padding: 20px;
        text-align: center;
    }
    
    .imagen-texto
    {
        width: 100%;
        height: auto;
        padding: 10px
    }
    
    .titulo-txt-img
    {
        font-size: 26px;
    }
    
    .contenido-txt-img
    {
        padding: 30px;
        font-size: 14px;
        text-align: justify
    }
    
    .titulo-parallax
    {
       font-size: 16px;
    }
    .img-menu
    {
        width: 30px;
    }
}
/*--------------------
fin responsive de pagina inicio
----------------------*/

/*---------------------
    apartado de conocenos
-----------------------*/

/*---------------------
   estilos de banner conocenos
-----------------------*/

/*---------------------
  fin estilos de banner conocenos
-----------------------*/
/*----------------------------------
    estilos textos y lineas conocenos
------------------------------------*/

#titulo
{
    position: relative;
    margin-top: 50px;
}








/*----------------------------------
fin estilos textos y lineas conocenos
------------------------------------*/

/*----------------------------------
    estilos textos y lineas conocenos ingles
------------------------------------*/
#titulo
{
    position: relative;
    margin-top: 50px;
}

.titulo-conocenos-ingles
{
    color: #005c9b;
    font-size: 35px;
}

.texto-conocenos-ingles
{
    color: #005c9b;
    font-size: 24px
}

.vertical-conocenos-ingles
{
     width: 2px;
    background-color: #747477;
    height:65px;
    margin-left: 270px;
    margin-top:-50px;
    position:absolute;
}

.horizontal-conocenos-ingles
{
    width: 710px;
    background-color: #747477;
    height:1px;
    margin-left: 230px;
    margin-top:65px;
    position:absolute;
}
/*----------------------------------
fin estilos textos y lineas conocenos ingles
------------------------------------*/

/*---------------------------------
    estilos circulos-barras
-----------------------------------*/
#cir-barr
{
    position: relative;
    margin-top: 50px
}






#barras
{
    position: relative;
}

.titulos_barras 
{
    color: #9B9B9B;   
    font-size: 20px;
    list-style: none;
}

.titulos_barras a:hover
{
    text-decoration: none;
    color: #9B9B9B;  
}
/*---------------------------------
    estilos circulos-barras
-----------------------------------*/

/*-----------------------------------
    seccion de especializamos
-------------------------------------*/



/*-----------------------------------
   fin seccion de especializamos
-------------------------------------*/

/*--------------------------
responsive hoja de conocenos
----------------------------*/
@media screen and (max-width:1200px) and (min-width:995px)
{
     .vertical-conocenos
    {
        width: 2px;
        background-color: #747477;
        height:90px;
        margin-left: 230px;
        margin-top:-50px;
        position:absolute;
    }

    .horizontal-conocenos
    {
        width: 670px;
        background-color: #747477;
        height:1px;
        margin-left: 130px;
        margin-top:95px;
        position:absolute;
    }  
      .vertical-conocenos-ingles
    {
        width: 2px;
        background-color: #747477;
        height:84px;
        margin-left: 230px;
        margin-top:-80px;
        position:absolute;
    }

    .horizontal-conocenos-ingles
    {
        width: 670px;
        background-color: #747477;
        height:1px;
        margin-left: 130px;
        margin-top:95px;
        position:absolute;
    }
}
 @media screen and (max-width:994px) and (min-width: 768px)
{
    .titulo-conocenos
    {
        font-size: 30px;
    }
    .texto-conocenos
    {
        font-size: 20px;
    }
    .vertical-conocenos
    {
        width: 2px;
        background-color: #747477;
        height:80px;
        margin-left: 170px;
        margin-top:-50px;
        position:absolute;
    }

    .horizontal-conocenos
    {
        width: 470px;
        background-color: #747477;
        height:1px;
        margin-left: 130px;
        margin-top:75px;
        position:absolute;
    }
    .titulos_barras a
    {
        font-size: 14px;
    }
     .titulo-conocenos-ingles
    {
        font-size: 28px;
    }
    .texto-conocenos-ingles
    {
        font-size: 20px;
    }
       .vertical-conocenos-ingles
    {
        width: 2px;
        background-color: #747477;
        height:80px;
        margin-left: 170px;
        margin-top:-80px;
        position:absolute;
    }

    .horizontal-conocenos-ingles
    {
        width: 470px;
        background-color: #747477;
        height:1px;
        margin-left: 130px;
        margin-top:75px;
        position:absolute;
    }
}

@media screen and (max-width: 767px)
{
   .titulo-conocenos
    {
        font-size: 30px;
    }
    .texto-conocenos
    {
        font-size: 22px;
    }
    .vertical-conocenos
    {
        display: none;
    }
    .horizontal-conocenos
    {
        display: none;
    }
    .titulos_barras a
    {
       font-size: 16px
    }
    .fondo-quines
    {
        margin-left: 0px;
        padding: 10px
    }
    
     .titulo-conocenos-ingles
    {
        font-size: 30px;
    }
    .texto-conocenos-ingles
    {
        font-size: 20px;
    }
    .vertical-conocenos-ingles
    {
        display: none;
    }
    .horizontal-conocenos-ingles
    {
        display: none;
    }
}

@media screen and (max-width: 450px)
{
  
    #barras
    {
        padding: 20px;
    }
    .titulos_barras a
    {
       font-size: 16px
    }
    .fondo-quines
    {
        margin-left: 0px;
        padding: 10px
    }
    
     .titulo-conocenos-ingles
    {
        font-size: 30px;
    }
    .texto-conocenos-ingles
    {
        font-size: 20px;
    }
    .vertical-conocenos-ingles
    {
        display: none;
    }
    .horizontal-conocenos-ingles
    {
        display: none;
    }
}
/*------------------------------
fin responsive hoja de conocenos
--------------------------------*/

/*----------------------------------
    estilos textos y lineas inversion
------------------------------------*/
#titulo-inversion
{
    position: relative;
    margin-top: 50px;
}




/*----------------------------------
fin estilos textos y lineas inversion
------------------------------------*/


/*--------------------------------
     estilos seccion inversion
----------------------------------*/






/*--------------------------------
   fin  estilos seccion inversion
----------------------------------*/

/*--------------------------
responsive hoja de inversion
----------------------------*/
@media screen and (max-width:1200px) and (min-width:995px)
{
  
}
 @media screen and (max-width:994px) and (min-width: 768px)
{
     

}

@media screen and (max-width: 767px)
{
      
}
   

@media screen and (max-width: 450px)
{

}
/*------------------------------
fin responsive hoja de inversion
--------------------------------*/

 /*_------------------------------
     estilos sectores
----------------------------------*/














 /*_------------------------------
    fin estilos sectores
----------------------------------*/

/*---------------------------------
    estilos beneficios
----------------------------------*/

/*---------------------------------
    estilos beneficios
----------------------------------*/

/*--------------------------
responsive hoja de sectores
----------------------------*/
@media screen and (max-width:1200px) and (min-width:995px)
{
 
}
 @media screen and (max-width:994px) and (min-width: 768px)
{
    
    
      
    
    
}

@media screen and (max-width: 767px)
{    
}

@media screen and (max-width: 450px)
{
     
}
/*------------------------------
fin responsive hoja de sectores
--------------------------------*/


/*-------------------------------
 estilos noticias nacionales
---------------------------------*/
#noticias
{
    top: 10px;
    padding: 100px;
    margin-left: 0px;
    position: relative;
}

.titulo-nacional
{
    text-align: center;
    color: #005c9b;
    margin: 10px;
    margin-bottom: 50px;
}

.titulo-internacional
{
    text-align: center;
    color: #005c9b;
    margin: 10px;
    margin-bottom: 50px;
}
/*--------------------------------
fin de estilos nacionales
---------------------------------*/

/*--------------------------
responsive hoja de sectores
----------------------------*/
@media screen and (max-width:1200px) and (min-width:995px)
{
   #noticias
    {
        padding: 10px;
        margin-bottom: 20px
    }
}
 @media screen and (max-width:994px) and (min-width: 768px)
{
    #noticias
    {
        padding: 20px;
        margin-bottom: 20px
    }
}

@media screen and (max-width: 767px)
{
   #noticias
    {
        padding: 20px;
    
    }
}

@media screen and (max-width: 450px)
{
    #noticias
    {
        padding: 10px;
        margin-bottom: 20px
    }
}    
/*------------------------------
fin responsive hoja de sectores
--------------------------------*/

/*----------------------------------
    estilos textos y lineas alianzas
------------------------------------*/





/*----------------------------------
fin estilos textos y lineas alianzas
------------------------------------*/

/*------------------------------------
estilos alianza
--------------------------------------*/

/*------------------------------------
fin estilos alianza
--------------------------------------*/

/*--------------------------
responsive hoja de alianzas
----------------------------*/
@media screen and (max-width:1200px) and (min-width:995px)
{
   
}
 @media screen and (max-width:994px) and (min-width: 768px)
{
  
}

@media screen and (max-width: 767px)
{
    
}

@media screen and (max-width: 450px)
{
   
}    
/*------------------------------
fin responsive hoja de alianzas
--------------------------------*/

/*--------------------------------
    banner proximamente
----------------------------------*/
#proximamente
{
    position: relative;
    margin-top: 100px; 
    margin-bottom: 100px;
    width: 100%;
}

.imagen-proximamente
{
    width: 100%;
    height: auto;
}
/*--------------------------------
    fin banner proximamente
----------------------------------*/

/*---------------------------------
    estilos hoja de eventos 
-----------------------------------*/

/*---------------------------------
  estilos mapa y formulario
-----------------------------------*/
#contacto
{
    
}


/*---------------------------------
   fin mapa y formulario
-----------------------------------*/

/*--------------------------
responsive hoja de alianzas
----------------------------*/
@media screen and (max-width:1200px) and (min-width:995px)
{
   
}
 @media screen and (max-width:994px) and (min-width: 768px)
{
    form
    {
        padding: 10px 0px;
    }
}

@media screen and (max-width: 767px)
{
    #mapa
    {
        padding: 10px;
        margin-bottom: 0px;
    } 
}

@media screen and (max-width: 450px)
{
    #mapa
    {
        padding: 10px;
        margin-bottom: 0px;
    }    
}    
/*------------------------------
fin responsive hoja de alianzas
--------------------------------*/

/*--------------------------------
    efectos lestras banner
----------------------------------*/

@media (max-width:1200px){

}



/*--------------------------------
   fin efectos lestras banner
----------------------------------*

/*---------------------------------
    seccion de corre
-----------------------------------*/

/*---------------------------------
    seccion de corre
-----------------------------------*/



