#conoc
{
    .imagen-principal 
    { 
        width: 100%;
    }
}

#banner-principal{
    
    .overlay{
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(11, 45, 70, .5);
    }
    .parallax {
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
    }
    .content-title{
        color: #fff;
        text-align: center;
        justify-content: center;
        display: block;
        margin: 0 auto;
        z-index: 1;
        h2{
           font-size: 35px; 
           font-weight: 400;
        }
        p{
            font-weight: 100;
            letter-spacing: 3px;
            font-size: 18px;
        }

    }
}

// titulo  inicio                      
#titulo-section{
    padding: 100px 0px;
    h1{
        color: #000;
        text-transform: uppercase;
        margin-bottom: 20px;
        font-size: 30px;
        font-weight: 400;
        padding-bottom: 10px;
        position: relative;
    }
    h2{
        font-size: 25px;
        font-weight: 100;
    }
    .col-title{
        border-right: 2px solid $azulObscuro;
    }
    .row-line{
        border-bottom: 2px solid $azulObscuro;
    }
}

#slider-conocenos{
    padding: 10px 5px;
    top: 80px;
    position: relative;
    box-shadow: 10px 17px 38px 0 rgba(0,0,0,0.1);
    
    .item-nav{
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        img {
            width: 100%;
            display: block;
            position: relative;
            transition: all 0.2s linear;
          }&:hover{
            img{
                transform: scale(1.1);        
                transition: all 0.2s ease-in-out;    
            }
         
        }
    }
   
    .owl-nav{
        display: none;
    }
    .owl-dots{
        display: none;
    }
    .overlay{
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(0,93, 161, .7);
    }
    .services_content{
       
        width: 100%;
        position: absolute;   
        text-align: center;   
       h3{
        color: #fff;
        font-size: 15px;
        font-weight:bold;
        position: relative;
        z-index: 2;
        display: inline-block;
       }
   
       h2{
        color: #fff;
        font-size: 20px;
        font-weight: 100;
        text-transform: capitalize;
        position: relative;
        z-index: 2;
       }
      
    }
   
.slider{
    top:80px;
}

.slick-slider{
    box-shadow: 0px 3px 13px 1px rgba(0,0,0,0.12);
}

}


#barras
{
    padding: 50px 10px;
}

#titulo
{
    position: relative;
    margin-top: 50px;
    .titulo-conocenos
    {
        color: #005c9b;
    }
    .texto-conocenos
    {
        color: #005c9b;
        font-size: 26px
    }
    .vertical-conocenos
    {
        width: 2px;
        background-color: #747477;
        height:57px;
        margin-left: 270px;
        margin-top:-50px;
        position:absolute;
    }
    .horizontal-conocenos
    {
        width: 710px;
        background-color: #747477;
        height:1px;
        margin-left: 230px;
        margin-top:65px;
        position:absolute;
    }
}

/*----------------------------------
    estilos textos y lineas conocenos ingles
------------------------------------*/
#titulo
{
    position: relative;
    margin-top: 50px;
}

.titulo-conocenos-ingles
{
    color: #005c9b;
    font-size: 35px;
}

.texto-conocenos-ingles
{
    color: #005c9b;
    font-size: 24px
}

.vertical-conocenos-ingles
{
     width: 2px;
    background-color: #747477;
    height:65px;
    margin-left: 270px;
    margin-top:-50px;
    position:absolute;
}

.horizontal-conocenos-ingles
{
    width: 710px;
    background-color: #747477;
    height:1px;
    margin-left: 230px;
    margin-top:65px;
    position:absolute;
}
/*----------------------------------
fin estilos textos y lineas conocenos ingles
------------------------------------*/

#seccion-quienes
{
    background-color: #f4f4f4;
    .titulo-quienes
    {
        margin-bottom: 30px;
    }
    .content-about{
        h3{
            font-size: 35px;
            font-weight: 400;
            color: $azulObscuro;
        }
        span{
            font-size: 20px;
            color: $azulObscuro;
            font-weight: 400;
        }
        p{
            font-size: 20px;
            text-align: justify;
            font-weight: 100;
        }
    }
   
}

#especializamos
{
    padding: 150px 0px 100px;
    h1
    {
        color: #000;
        text-transform: uppercase;
        margin-bottom: 20px;
        font-size: 30px;
        font-weight: 100;
        padding-bottom: 10px;
        position: relative;
    }
    h1::before{
       
            content: '';
            position: absolute;
            background-color: $azulObscuro;
            bottom: 0;
            width: 40px;
            left: 0px;
            height: 2px;
            border-radius: 10px;
        
    }
    .card
    {
        border: none;
        border-bottom: 1px solid #005c9b;
        button
        {
            color: #005c9b;
            font-size: 18px;
        }
    }
    .card-header
    {
        background-color: transparent;
        border: none;
    }
    .card-body
    {
        font-size: 18px;
        text-align: justify;
        font-weight: 100;
    }
}

 /*--------------------------
        Responsive
-----------------------------*/
@media (max-width:1200px)
{
    #titulo
    {
        .vertical-conocenos
    {
        width: 2px;
        background-color: #747477;
        height:90px;
        margin-left: 230px;
        margin-top:-50px;
        position:absolute;
    }

    .horizontal-conocenos
    {
        width: 670px;
        background-color: #747477;
        height:1px;
        margin-left: 130px;
        margin-top:95px;
        position:absolute;
    }
    }
    .vertical-conocenos-ingles
    {
        width: 2px;
        background-color: #747477;
        height:84px;
        margin-left: 230px;
        margin-top:-80px;
        position:absolute;
    }

    .horizontal-conocenos-ingles
    {
        width: 670px;
        background-color: #747477;
        height:1px;
        margin-left: 130px;
        margin-top:95px;
        position:absolute;
    }
}

@media (max-width:992px)
{
    #titulo
    {
        .titulo-conocenos
        {
            font-size: 30px;
        }
        .texto-conocenos
        {
            font-size: 20px;
        }
        .vertical-conocenos
        {
            width: 2px;
            background-color: #747477;
            height:80px;
            margin-left: 170px;
            margin-top:-50px;
            position:absolute;
        }
        .horizontal-conocenos
        {
            width: 470px;
            background-color: #747477;
            height:1px;
            margin-left: 130px;
            margin-top:75px;
            position:absolute;
        }
    }
    #especializamos
    {
    
    }
    .titulo-conocenos-ingles
    {
        font-size: 28px;
    }
    .texto-conocenos-ingles
    {
        font-size: 20px;
    }
       .vertical-conocenos-ingles
    {
        width: 2px;
        background-color: #747477;
        height:80px;
        margin-left: 170px;
        margin-top:-80px;
        position:absolute;
    }

    .horizontal-conocenos-ingles
    {
        width: 470px;
        background-color: #747477;
        height:1px;
        margin-left: 130px;
        margin-top:75px;
        position:absolute;
    }
}
@media (max-width:768px)
{
    #titulo
    {
        .titulo-conocenos
        {
            font-size: 30px;
        }
        .texto-conocenos
        {
            font-size: 22px;
            padding: 0px 20px;
        }
        .vertical-conocenos
        {
            display: none;
        }
        .horizontal-conocenos
        {
            display: none;
        }
    }
    #especializamos
    {
      
        .accordion
        {
            padding: 0px;
        } 
    }
    .titulo-conocenos-ingles
    {
        font-size: 30px;
    }
    .texto-conocenos-ingles
    {
        font-size: 20px;
    }
    .vertical-conocenos-ingles
    {
        display: none;
    }
    .horizontal-conocenos-ingles
    {
        display: none;
    }

}

@media (max-width:576px)
{
    #titulo
    {
        .titulo-conocenos
        {
            font-size: 30px;
        }
        .texto-conocenos
        {
            font-size: 22px;
            padding: 0px 20px;
        }
        .vertical-conocenos
        {
            display: none;
        }
        .horizontal-conocenos
        {
            display: none;
        }
    }

    #seccion-quienes
    {
        padding: 20px;
        .titulo-quienes
        {
            color: #005c9b;   
            margin-bottom: 30px;
        }
        .fondo-quines
        {
            background-color: #f4f4f4;
        }
        .contenido-quienes
        {
            font-size: 16px;
            padding: 20px;
            text-align: justify;
            padding: 20px;
        }
    }
    #especializamos
    {
        h1
        {
            font-size: 25px;
        } 
        .accordion
        {
            padding: 0px;
        } 
    }
    .titulo-conocenos-ingles
    {
        font-size: 30px;
    }
    .texto-conocenos-ingles
    {
        font-size: 20px;
    }
    .vertical-conocenos-ingles
    {
        display: none;
    }
    .horizontal-conocenos-ingles
    {
        display: none;
    }

}

 /*--------------------------
        Fin Responsive
-----------------------------*/



