@import"variables";

#noticias
{
    top: 10px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 20px;
    .card
    {
        border: 1px solid #005c9b;
    }
    .card-body
    {
        text-align: justify;
        color: #4f6a90;
    }
}

#post-events{
    padding: 50px 0px;
    .card-item{
        border: 1px solid #c1c1c1;
        padding: 30px;
        margin-bottom: 20px;
    }
    h1
    {
        color: #000;
        text-transform: uppercase;
        margin-bottom: 20px;
        font-size: 30px;
        font-weight: 100;
        padding-bottom: 10px;
        position: relative;
    }
    h1::before
    {
        content: '';
        position: absolute;
        background-color: $azulObscuro;
        bottom: 0;
        width: 40px;
        left: 0px;
        height: 2px;
        border-radius: 10px;
    }
    a 
    {
        color:$azulObscuro;
        transition: 1s;
    }
    a:hover
    {
        color:$azulCielo;
    }
    .thumbnail-attachment{
        float: left;
        max-width: 55%;
        img{
            display: block;
        }
    }
    .entry-body{
        overflow: hidden;
        padding-top: 11px;
        padding-left: 30px;
        .entry-title{
            font-weight: bold;
            color: #333;
        }
        h4{
            text-align: justify;
        }
        p{
            text-align: justify;
            margin-bottom: 20px;
        }
        .btn-primary 
        {
            color:white;
            background-color: $azulcoine;
            transition: 1s;
        }
        .btn-primary:hover
        {
            background-color: $azulCielo;
        }
        
    }
}

.pagination 
{
    display: block !important;
    border-radius: 4px;
    text-align: center;
    
    li 
    {
        display: inline;
        text-decoration: none;
    }
    a
    {
        border-radius: 20px !important;
        margin: 3px;
        padding: 5px 14px;
        font-size: 20px;
        border: 1px solid #ddd;
        text-decoration: none !important;
        position: relative;
    }
    .active a
    {
        background-color: $azulcoine !important;
        border-color: $azulcoine !important;
        color: white !important;
    }
    .disabled a
    {
        background-color: #8c8c8c ;
        border-color: #747477 !important;
        color: $white !important;
    }
}
    

@media(max-width: 992px){
    #post-events{
        .thumbnail-attachment{
            
            max-width: 100%;
            img{
                display: block;
            }
        }
    }
}

@media (max-width:768px)
{
  
}

@media (max-width:576px)
{
    .pagination 
    {
        left: 45%;
    }
}