#foter-redes
{
    background-color: #005c9b;
    ul
    {
        list-style: none;
        margin-top: 20px;
    }
    li a
    {
        list-style: none;
        margin-top: 10px;
        font-size: 14px;
        color: white;
        display: none;
    }
}
