.video-principa
{
    width: 100%;
    margin-top: -200px;
    position: relative;
}

#texto-principal
{
    position: relative;
    width: 100%;
    p{
        font-size: 24px;
        margin-top: 0px;
        color: #4f6a90;
        text-align: center;
        padding: 50px 0px;
    }
}

#seccion-texto-imagen
{
    position: relative;
    background-color: #005c9b;
    .imagen-texto
    {
        width: 100%;
        height: 550px;
        padding: 10px
    }
    h1 
    {
        color: white;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    p 
    {
        color: white;
        padding: 10px;
        font-size: 16px;
    }
}

#parallax-inicio
{
    background: url(../img/parallax/INICIO.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    margin-top: 100px;
    max-width: 100%;
    h2 
    {
        padding: 100px 20px;
        color: white;
        margin-left: 10px;
        text-align: center;
    }
}

#acciones-carrusel
{
    h1 
    {
        color: #005c9b; 
        margin-top: 50px;
    }
}

#seccion-testimonios
{
    position: relative;
    margin-bottom: 100px;
    h1 
    {
        color: #005c9b;
        text-transform: uppercase;
        padding: 50px 0px;
    }
    .imagen-testimonios
    {
        margin: 0px;
    }
}

#redes-conocenos
{
     margin-top: 50px;
    margin-bottom: 50px;
}

.foter
{
    background-color: #005c9b;
}

#foter-redes
{
    height: 100%;
    ul 
    {
        list-style: none;
        margin: 5px;
        margin-top: 0px;
        float: right;
    }
    a 
    {
        list-style: none;
        margin: 5px;
        margin-top: 0px;
    }
    img
    {
        margin-left:1px;
        padding: 20px 0px 10px;
    }
    li 
    {
        margin-left: -40px;
        margin-top: 0px;
        color: white;
        font-size: 12px;
    }
}

.flotante {
    position:relative;
    color: white;
    left:30px;
    z-index: 1;
    border: none;
    font-family: 'Questrial', sans-serif;
    -webkit-animation-name:anim1;
    -webkit-animation-duration: 4s;
    margin-top: -250px
}

.flotante h2
{
    color: #0f223c;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: bold;
}

@-webkit-keyframes anim1{
    0%{
       left:-450px;
    }
  
    100%{
        left: 50px;
    }
}


#carrusel-panorama .owl-nav
{
    text-align: center;
    font-size: 50px;
    color: #005c9b;
    padding: 0px 10px;
}

#carrusel-panoramas button
{
    padding: 0px 10px;
}
 /*--------------------------
        Responsive
-----------------------------*/
@media (max-width:1200px)
{
    .navbar li
    {
        font-size: 12px;
        
    }
    .flotante {
        display:none;
    }
}

@media (max-width:992px)
{
    .navbar li
    {
        font-size: 14px;
    }
    .video-principa
    {
       margin-top: 0px; 
    }
    #texto-principal
    {
        p
        {
            font-size: 20px;
            margin-top: 0px;
            color: #4f6a90;
            text-align: center;
            padding: 50px 0px;
        }
    }
    #seccion-texto-imagen
    {
        .imagen-texto
        {
            height: auto;
        }
        h1 
        {
            font-size: 28px;
        }
        p 
        {
            text-align: center;
        }
    }
    #acciones-carrusel
    {
        h1 
        {
            font-size: 28px;
            margin-top: 50px;
        }
    }
    #parallax-inicio
    {
        h2 
        {
        padding: 50px 10px;
        color: white;
        font-size: 24px;
        text-align: center;
        }
    }
    #seccion-testimonios
    {
        h1 
        {
            font-size: 28px;
            padding: 60px 0px;
        }
        .imagen-testimonios
        {
            width: 100%;
            padding: 10px 0px 0px;
        }
    }
}
@media (max-width:768px)
{
    .video-principa
    {
        margin-top: 0px;
    }
    #texto-principal
    {
        p
        {
            font-size: 20px;
            margin-top: 0px;
            color: #4f6a90;
            text-align: center;
            padding: 50px 0px;
        }
    }
    #seccion-texto-imagen
    {
        position: relative;
        background-color: #005c9b;
        .imagen-texto
        {
            height: auto;
        }
        h1 
        {
            font-size: 28px;
        }
        p 
        {
            text-align: left;
        }
    }
    #acciones-carrusel
    {
        h1 
        {
            font-size: 28px;
            margin-top: 50px;
        }
        .img-carrsuel-acciones 
        { 
            padding: 50px;
            width: 100px;
        }
    }
    #parallax-inicio
    {
        h2 
        {
        padding: 50px 0px;
        color: white;
        font-size: 24px;
        text-align: center;
        }
    }
    #seccion-testimonios
    {
        h1 
        {
            font-size: 28px;
            padding: 60px 0px;
        }
        .imagen-testimonios
        {
            width: 85%;
            padding: 10px 30px 0px;
        }
    }
}

@media (max-width:576px)
{
    .video-principa
    {
        width: 100%;
        margin-top: 0px;
        position: relative;
    }
    #texto-principal
    {
        p
        {
            font-size: 20px;
            margin-top: 0px;
            color: #4f6a90;
            text-align: center;
            padding: 50px 0px;
        }
    }
    #seccion-texto-imagen
    {
        position: relative;
        background-color: #005c9b;
        .imagen-texto
        {
            height: auto;
        }
        h1 
        {
            font-size: 28px;
        }
        p 
        {
            text-align: center;
        }
    }
    #acciones-carrusel
    {
        h1 
        {
            font-size: 28px;
            margin-top: 50px;
        }
    }
    #parallax-inicio
    {
        h2 
        {
        padding: 50px 10px;
        color: white;
        font-size: 24px;
        text-align: center;
        }
    }
    #seccion-testimonios
    {
        h1 
        {
            font-size: 28px;
            padding: 60px 0px;
        }
        .imagen-testimonios
        {
            width: 100%;
            padding: 10px 40px 0px;
        }
    }
}

 /*--------------------------
        Fin Responsive
-----------------------------*/