.video-principa
{
    width: 100%;
    margin-top: -200px;
    position: relative;
}

#texto-principal
{
    position: relative;
    width: 100%;
    padding: 50px 0px;
    p{
        font-size: 20px;
        margin-top: 0px;
        color:#000;
        text-align: center;
        padding: 50px 0px;
        span{
            color: #1d73b2;
            font-weight: 600;
        }
    }
   
}

#seccion-texto-imagen
{
    position: relative;
    background-color: #005c9b;
    .imagen-texto
    {
        width: 100%;
        height: 550px;
        padding: 10px
    }
    h1 
    {
        color: white;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    p 
    {
        color: white;
        padding: 10px;
        font-size: 16px;
        text-align: justify;
    }
}

#banner-acciones
{
    position: relative;
   
    img 
    {
        width: 100%;
        padding: 50px;
        top: 30px;
        position: relative;
    }
    h1 
    {
        color: white;
        position: absolute;
        text-transform: uppercase;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
    }
}


#parallax-inicio
{
    background: url(../img/parallax/INICIO.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    margin-top: 100px;
    max-width: 100%;
    h2 
    {
        padding: 100px 20px;
        color: white;
        margin-left: 10px;
        text-align: center;
    }
}

#acciones-carrusel
{
    h1 
    {
        color: #005c9b; 
        margin-top: 50px;
    }
}

#seccion-testimonios
{
    position: relative;
    padding: 50px 0px;
    .cont-title-testimonials{
        margin-top: 30px;
        padding: 0;
        h1 
        {
            color: #000;
            text-transform: uppercase;
            margin-bottom: 50px;
            font-size: 30px;
            font-weight: 100;
            padding-bottom: 10px;
    position: relative;
        } 
        h1::before{
            content: '';
            position: absolute;
            background-color: #1d73b2;
            bottom: 0;
            width: 210px;
            height: 2px;
            border-radius: 10px;
        }   
    }
    
    
    img{
        cursor: pointer;
    }
    .card{
        padding: 20px;
    }
    .card-body{
        a{
            color:#000;
        }
      
    }
}

#redes-conocenos
{
    background-color: #f4f4f4;
    padding: 50px 0px;
}

.flotante {
    position:relative;
    color: white;
    left:30px;
    z-index: 1;
    border: none;
    font-family: 'Questrial', sans-serif;
    -webkit-animation-name:anim1;
    -webkit-animation-duration: 4s;
    margin-top: -250px
}

.flotante h2
{
    color: #0f223c;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: bold;
}

@-webkit-keyframes anim1{
    0%{
       left:-450px;
    }
  
    100%{
        left: 50px;
    }
}


#carrusel-panorama .owl-nav
{
    text-align: center;
    font-size: 50px;
    color: #005c9b;
    padding: 0px 10px;
}

#carrusel-panoramas button
{
    padding: 0px 10px;
   
}

/*-------------Style slider home section events-------------*/
#slider-events{
padding:  50px 0px;
background-color: #f4f4f4;
.content-title{
    padding: 0;
    text-align: center;
    h2{
        color: #000;
        text-transform: uppercase;
        margin-bottom: 20px;
        font-size: 30px;
        font-weight: 100;
        padding-bottom: 10px;
        position: relative;
    }
    h2::before{
        content: '';
        position: absolute;
        background-color: #1d73b2;
        bottom: 0;
        width: 40px;
        left: 530px;
        height: 2px;
        border-radius: 10px;
    }
}

.card {
    border: 1px solid transparent;
    border-bottom: 1px solid #005c9b;
    h5{
        a{
            color: black;
            text-align: justify;
        }
        a:hover{
            color: #007bff;
            text-decoration: none;        }
    }
    p{
        text-align: justify;
    }
}
.carousel-caption {
    background: rgba(51,51,51,0.7);
    color: #fff;
    text-align: center;
    a{
        color: #fff;
    }
    p{
        font-size: 30px;
    }
}
.bg-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(11, 45, 70, .5);
}
.parallax {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
}

.content-idicators{
    position: absolute;
    background-color: rgba(51,51,51,0.7);
    z-index: 1;
    width: 100%;
    bottom: 0;
    list-style: none;
    margin: 0 auto;
    li{
        background-color: rgba(51,51,51,0.7);
        display: inline-block;
        padding: 20px;
        font-weight: 700;
        font-size: 17px;
        a{
            color: #fff;
            font-weight: 100;
        }
    }
    li:hover{
        background-color: rgba(46, 46, 46, 0.9);
    }
}
.post-events{
    position: absolute;
    width: 200px;
    background: #1d73b2;
    top: 0px;
    z-index: 9;
    padding: 10px;
    text-align: center;
    a{
        color:#fff;
    }
}
.carousel-item{
    height: 400px;
}

}

#section-notices-home{
    padding: 40px 0px;
    .content-title{
        margin-top: 30px;
        padding: 0;
        margin:0px 10px;
        h2{
            color: #000;
            text-transform: uppercase;
            margin-bottom: 20px;
            font-size: 30px;
            font-weight: 100;
            padding-bottom: 10px;
            position: relative;
        }
        h2::before{
            content: '';
            position: absolute;
            background-color: #1d73b2;
            bottom: 0;
            width: 120px;
            height: 2px;
            border-radius: 10px;
        }
    }
    .content-notices{
        width: 100%;
        height:100px;
        background-color: #005c9b;
    }
}


#banner-precenciaInt{
        background: url(../img/imagen2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        width: 100%;
        height: 400px;
        position: relative;
       h2{
        color: #fff;
        font-size: 45px;
        font-weight: 100;
        padding-bottom: 10px;
       }
       p{
        color:#fff;
        }
    
       .overlay-int{
        
            width: 100%;
            height: 100%;
            position: absolute;
            background: rgba(11, 45, 70, .5);
        
       }
       .parallax {
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
    }
    .content-text{
        padding: 0px 50px;
    }
    .btn-primary{
        background-color: transparent;
        color: #fff;
        border: 1px solid #fff; 
    }
   
}
#testimonio1{
    .modal-body{
        padding: 0px!important;
    }
}
#testimonio2{
    .modal-body{
        padding: 0px!important;
    }
}

 /*--------------------------
        Responsive
-----------------------------*/
@media (max-width:1200px)
{
    .navbar li
    {
        font-size: 12px;
        
    }
    .flotante {
        display:none;
    }
    .video-principa
    {
        margin-top: 5px;
    }

}

@media (max-width:992px)
{
    .navbar li
    {
        font-size: 14px;
    }
    .video-principa
    {
       margin-top: 0px; 
    }
    #texto-principal
    {
        p
        {
            font-size: 20px;
            margin-top: 0px;
            color: #4f6a90;
            text-align: center;
            padding: 50px 0px;
        }
    }
    #seccion-texto-imagen
    {
        .imagen-texto
        {
            height: auto;
        }
        h1 
        {
            font-size: 28px;
        }
        p 
        {
            text-align: center;
        }
    }
    #acciones-carrusel
    {
        h1 
        {
            font-size: 28px;
            margin-top: 50px;
        }
    }
    #parallax-inicio
    {
        h2 
        {
        padding: 50px 10px;
        color: white;
        font-size: 24px;
        text-align: center;
        }
    }
    #seccion-testimonios
    {

        h1 
        {
            font-size: 28px;
            padding: 60px 0px;
        }
        .imagen-testimonios
        {
            width: 100%;
            padding: 10px 0px 0px;
        }
    }
    #seccion-testimonios
    {
        h1 
        {
            font-size: 28px;
            padding: 60px 0px;
        }
        .imagen-testimonios
        {
            width: 85%;
            padding: 10px 30px 0px;
        }
    }
    #banner-acciones
    {
        img 
        {
            width: 100%;
            padding: 10px;
            top: 30px;
        }
        h1 
        {
            padding: 20px;
            font-size: 28px;  
            top: 60%;
    }
        
}
}
@media (max-width:768px)
{
    .video-principa
    {
        margin-top: 0px;
    }
    #texto-principal
    {
        p
        {
            font-size: 20px;
            margin-top: 0px;
            color: #4f6a90;
            text-align: center;
            padding: 50px 0px;
        }
    }
    #seccion-texto-imagen
    {
        position: relative;
        background-color: #005c9b;
        .imagen-texto
        {
            height: auto;
        }
        h1 
        {
            font-size: 28px;
        }
        p 
        {
            text-align: left;
        }
    }
    #acciones-carrusel
    {
        h1 
        {
            font-size: 28px;
            margin-top: 50px;
        }
        .img-carrsuel-acciones 
        { 
            padding: 50px;
            width: 100px;
        }
    }
    #parallax-inicio
    {
        h2 
        {
        padding: 50px 0px;
        color: white;
        font-size: 24px;
        text-align: center;
        }
    }
    #seccion-testimonios
    {
        h1 
        {
            font-size: 28px;
            padding: 60px 0px;
        }
        .imagen-testimonios
        {
            width: 85%;
            padding: 10px 30px 0px;
        }
    }
    #banner-acciones
    {
        img 
        {
            width: 100%;
            padding: 10px;
            top: 30px;
        }
        h1 
        {
            padding: 20px;
            font-size: 28px;  
            top: 60%;
        }
    }
}

@media (max-width:576px)
{
    .video-principa
    {
        width: 100%;
        margin-top: 0px;
        position: relative;
    }
    #texto-principal
    {
        p
        {
            font-size: 20px;
            margin-top: 0px;
            color: #4f6a90;
            text-align: center;
            padding: 50px 0px;
        }
    }
    #seccion-texto-imagen
    {
        position: relative;
        background-color: #005c9b;
        .imagen-texto
        {
            height: auto;
        }
        h1 
        {
            font-size: 28px;
        }
        p 
        {
            text-align: center;
        }
    }
    #acciones-carrusel
    {
        h1 
        {
            font-size: 28px;
            margin-top: 50px;
        }
    }
    #parallax-inicio
    {
        h2 
        {
        padding: 50px 10px;
        color: white;
        font-size: 24px;
        text-align: center;
        }
    }
    #seccion-testimonios
    {
        h1 
        {
            font-size: 28px;
            padding: 60px 0px;
        }
        .imagen-testimonios
        {
            width: 100%;
            padding: 10px 40px 0px;
        }



    }

    #banner-acciones
    {
        position: relative;
        img 
        {
            width: 100%;
            padding: 10px;
            top: 30px;
            position: relative;
        }
        h1 
        {
            padding: 20px;
            font-size: 24px;  
            top: 60%;
        }
    }
}

 /*--------------------------
        Fin Responsive
-----------------------------*/