@import"variables";

#titulo-inversion
{
    position: relative;
    margin-top: 50px;
    .titulo-inversion
    {
        color: #005c9b;
    }
    .texto-inversion
    {
        color: #005c9b;
        font-size: 22px
    }
    .vertical-inversion
    {
        width: 2px;
        background-color: #747477;
        height:77px;
        margin-left: 270px;
        margin-top:-50px;
        position:absolute;
    }
    .horizontal-inversion
    {
        width: 710px;
        background-color: #747477;
        height:1px;
        margin-left: 230px;
        margin-top:82px;
        position:absolute;
    }
}

#imagen-inversiones
    {
        width: 50%;
        height: 50px;
        height: auto;
        display: block;
        margin: 0 auto;
        .inversion-secciones
        {
            width: 100%;
        }
        .iversion-secciones article
        {
            padding: 30px;
        }
}
.video-inversiones
{
    width: 100%;
}

.active-inversion
{
    color: $azulCielo;
}

#secciones-inversiones
{
    position: relative;
    h1
    {
        color: #000;
        text-transform: uppercase;
        margin-bottom: 20px;
        font-size: 30px;
        font-weight: 100;
        padding-bottom: 10px;
        position: relative;
    }
    h1::before{
       
            content: '';
            position: absolute;
            background-color: $azulObscuro;
            bottom: 0;
            width: 40px;
            left: 0px;
            height: 2px;
            border-radius: 10px;
        
    }
    .owl-carousel 
    {
        .item
        {
            border: 1px solid black;
            background: white;
            text-align: center;
            height: 50px;
            background-color: $azulObscuro;
            opacity: 1;
            transition: all .2s ease-in-out;
        }
        .item:hover{
            opacity: .8;
            transition: all .2s ease-in;
        }       
        a
        {
            font-size: 24px;
            color:white;
            line-height: 42px;
            position: absolute;
            top: 10%;
            width: 100%;
            right: 0px;
            text-decoration: none;
        }
        .owl-nav{
            margin-bottom: 20px;
        }
        .owl-nav::before{
            background: rgba(250, 250, 250, 0) -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#00A4E0), to(transparent)) repeat scroll 0 !important;
            background: rgba(250, 250, 250, 0) -webkit-linear-gradient(left, transparent, #00A4E0, transparent) repeat scroll 0 !important;
            background: rgba(250, 250, 250, 0) -o-linear-gradient(left, transparent, #00A4E0, transparent) repeat scroll 0 !important;
            background: rgba(250, 250, 250, 0) linear-gradient(to right, transparent, #00A4E0, transparent) repeat scroll 0 !important;
            content: "";
            height: 3px;
            left: 25%;
            bottom: 15px;
            position: absolute;
            width: 50%;
        }

    }
    
    .owl-dot
    {
        display: none;
    }
    .owl-next
    { 
        border: 1px solid $azulObscuro;
        color: $azulObscuro;
        top: -30%;
        right: 0px;  
        font-weight: inherit !important;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 10px;
        background-color: transparent!important;
        margin: 10px;
        display: inline-block;
        font-size: 24px;
        -webkit-transition:1s; /* For Safari 3.1 to 6.0 */
        transition:1s;    
    }

    .owl-next:hover
    {
        background-color: $azulObscuro !important;
        color: white;
    }

    .owl-prev
    {
        border: 1px solid $azulObscuro;
        color: $azulObscuro;
        top: -30%;
        right: 50px;
        font-weight: inherit !important;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 10px;
        background-color: transparent !important;
        margin: 10px;
        display: inline-block;
        font-size: 24px;
        -webkit-transition:1s; /* For Safari 3.1 to 6.0 */
        transition:1s; 
    }
    .owl-prev:hover
    {
        background-color: $azulObscuro !important;
        color: white;
    }
}
 /*--------------------------
        Responsive
-----------------------------*/
@media (max-width:1200px)
{
    #titulo-inversion
    {
        .vertical-inversion
        {
            width: 2px;
            background-color: #747477;
            height:103px;
            margin-left: 230px;
            margin-top:-50px;
            position:absolute;
        }
        .horizontal-inversion
        {
            width: 600px;
            background-color: #747477;
            height:1px;
            margin-left: 200px;
            margin-top:108px;
            position:absolute;
        }
    }
    #secciones-inversiones
    {
        padding: 30px;
    }
}

@media (max-width:992px)
{
    #titulo-inversion
    {
        .titulo-inversion
        {
            font-size: 28px;
            margin-top: 20px;
        }
        .texto-inversion
        {
            font-size: 18px
        }
        
          .vertical-inversion
        {
            margin-left: 170px;
            height:97px;
            margin-top:-67px;
        }
    
        .horizontal-inversion
        {
            margin-left: 150px;
            width: 450px;
            margin-top:90px;
        }    
    }
    #secciones-inversiones
    {
        padding: 30px;
        ul.tabs
        {
            padding: 10px;
            li a
            {
                padding: 15px 0px;

                color: #fff;
                text-decoration: none;
                font-size: 12px;
                text-align: center;
                display: block;
                padding: 10px 0px;
            }
        }
    }
}
@media (max-width:768px)
{
    #titulo-inversion
    {
        .titulo-inversion
        {
            font-size: 28px;
        }
        .texto-inversion
        {
            font-size: 22px
        }
        .vertical-inversion
        {
            display: none;
        }
        .horizontal-inversion
        {
            display: none;
        }
    }
    #secciones-inversiones
    {
        padding: 50px;
        ul.tabs
        {
            width: 100%;
            background: #4F6A90;
            list-style: none;
            display: flex;
            padding: 10px;
            li a
            {
                padding: 15px 0px;

                color: #fff;
                text-decoration: none;
                font-size: 10px;
                text-align: center;
                display: block;
                padding: 10px 0px;
            }
        }
}

    .video-inversiones
    {
        width: 100%;
        padding: 20px;
        margin-top: 10px;
    }
}

@media (max-width:576px)
{
    #titulo-inversion
    {
        .titulo-inversion
        {
            font-size: 26px;
        }
        .texto-inversion
        {
            font-size: 20px
        }
        .vertical-inversion
        {   
            display: none;
        }
        .horizontal-inversion
        {
            display: none
        }
    }

    #secciones-inversiones
    {   
        padding: 10px;
        ul.tabs
        {
            list-style: none;
            display: flex;
            padding: 10px;
            li a
            {
                padding: 15px 0px;
                width: 15%;
                color: #fff;
                text-decoration: none;
                font-size: 10px;
                text-align: center;
                display: block;
            }
        }
    }

    .video-inversiones
    {
        width: 100%;
        padding: 20px;
        margin-top: 10px;
    }
    #imagen-inversiones
    {
        width: 100%;
        height: 50px;
        height: auto;
        display: block;
        margin: 0 auto;
        .inversion-secciones
        {
            width: 100%;
        }
        .iversion-secciones article
        {
            padding: 30px;
        }
    }
}

 /*--------------------------
        Fin Responsive
-----------------------------*/
