 
 /*--------------------------
        Responsive
-----------------------------*/
@media (max-width:1200px)
{
    
}

@media (max-width:992px)
{
   
}
@media (max-width:768px)
{
   
}

@media (max-width:576px)
{
    .navbar .nav-item.arriba::before
    {
        background: rgba(255, 255, 255, 0) linear-gradient(to right, transparent,  #fff, transparent) repeat scroll 0 ;
        content:"";
        height: 1px;
        left: 0;
        position: absolute;
        width: 100%;
    }
}
