@import"variables";

.navbar
{
    background-color: white; 
    box-shadow: 0px 1px 14px #424242;
}

.dropdown-item
{
    color: #005c9b!important;
}

.dropdown-menu{
    border: 1px solid transparent!important;
}

.dropdown-item.active, .dropdown-item:active {
    color: #005c9b;
    text-decoration: none;
    background-color: #c4c4c4!important;
}


 /*--------------------------
        Responsive
-----------------------------*/
@media (max-width:1200px)
{
    
}

@media (max-width:992px)
{
    .navbar-collapse
    {
        text-align: center;
        ul
        {
            text-align: center;
            .nav-item 
            {
                text-align: center;    
            }
        }   
    }
    .dropdown-item
    {
        text-align: center !important;
    }
    .navbar-collapse .nav-item.arriba::before
    {
        background: rgba(250, 250, 250, 0) linear-gradient(to right, transparent,  $azulCielo, transparent) repeat scroll 0 !important ;
        content: "";
        height: 1px;
        left: 25%;
        position: absolute;
        width: 50%;
    }
}
@media (max-width:768px)
{
    #titulo-section .col-title 
    {
        border-right: none;
    }
}

@media (max-width:576px)
{
    #titulo-section .row-line 
    {
        border-bottom: none;
    }
    #titulo-section .col-title 
    {
        border-right: none;
    }

}
