.navbar
{
    background-color: white; 
    box-shadow: 0px 1px 14px #424242;

}

.dropdown-item
{
    color: #005c9b!important;
}

.dropdown-menu{
    border: 1px solid transparent!important;
}

.dropdown-item.active, .dropdown-item:active {
    color: #005c9b;
    text-decoration: none;
    background-color: #c4c4c4!important;
}

 /*--------------------------
        Responsive
-----------------------------*/
@media (max-width:1200px)
{
    
}

@media (max-width:992px)
{
   
}
@media (max-width:768px)
{
   
}

@media (max-width:576px)
{
    .navbar .nav-item.arriba::before
    {
        background: rgba(255, 255, 255, 0) linear-gradient(to right, transparent,  #fff, transparent) repeat scroll 0 ;
        content:"";
        height: 1px;
        left: 0;
        position: absolute;
        width: 100%;
    }
}
