@import "variables";

#titulo-sectores
{
    position: relative;
    margin-top: 50px;
    .titulo-sectores
    {
        color: #005c9b;
    }
    .texto-sectores
    {
        color: #005c9b;
        font-size: 20px
    }
    .vertical-sectores
    {
        width: 2px; 
        background-color: #747477;
        height:96px;
        margin-left: 270px;
        margin-top:-50px;
        position:absolute;
    }
    .horizontal-sectores
    {
        width: 710px;
        background-color: #747477;
        height:1px;
        margin-left: 240px;
        margin-top:103px;
        position:absolute;
    }
    .titulo-sectores-ingles
    {
        color: #005c9b;
    }
    .texto-sectores-ingles
    {
        color: #005c9b;
        font-size: 20px
    }
    .vertical-sectores-ingles
    {
        width: 2px;
        background-color: #747477;
        height:70px;
        margin-left: 270px;
        margin-top:-50px;
        position:absolute;
    }
    .horizontal-sectores-ingles
    {
        width: 710px;
        background-color: #747477;
        height:1px;
        margin-left: 240px;
        margin-top:75px;
        position:absolute;
    }
}

#sectores
{
    position: relative;
    padding: 30px;
    background-color: #f4f4f4;
    padding: 50px 0px;

    .owl-carousel.owl-loaded {
        display: block;
        margin-top: 54px;
    }
}

#img-circulos
{
    width: 150px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}

#beneficios
{
    position: relative;
    background-color: white;
    padding: 100px 0px 0px;
    .titulo-beneficios
    {
        color: #000;
        text-transform: uppercase;
        margin-bottom: 20px;
        font-size: 30px;
        font-weight: 100;
        padding-bottom: 10px;
        position: relative;
    }   
    .contenido-beneficios
    {
        font-size: 15px;
        text-align: justify;
        line-height: 1.8;
        font-weight: 400;
    }
}

#beneficios
{
    .titulo-beneficios::before
    {
        content: '';
        position: absolute;
        background-color: $azulObscuro;
        bottom: 0;
        width: 40px;
        left: 0px;
        height: 2px;
        border-radius: 10px;
    } 
}

#sectores .owl-dot
{
    display: none;
}

#sectores .owl-next
{ 
    border: 1px solid $azulObscuro;
    color: $azulObscuro;
    position: absolute;
    top: -30%;
    right: 0px;  
    font-weight: inherit !important;

    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 10px;
    background-color: transparent!important;
    margin: 10px;
    display: inline-block;
    font-size: 24px;
}

#sectores .owl-next:hover
{
    background-color: $azulObscuro !important;
    color: white;
}

#sectores .owl-prev
{
    border: 1px solid $azulObscuro;
    color: $azulObscuro;
    position: absolute;
    top: -30%;
    right: 50px;
    font-weight: inherit !important;
    
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 10px;
    background-color: transparent !important;
    margin: 10px;
    display: inline-block;
    font-size: 24px;
}

#sectores .owl-prev:hover
{
    background-color: $azulObscuro !important;
    color: white;
}

#seccion-4imagenes
{
    position: relative;
    padding: 30px;
}

.view{
	width: 100%;
	height: 100%;
	float: left;
	border:0px solid #fff;
	overflow: hidden;  /*Oculta el contenido y solo resalta la imagen */
	text-align: center;
}

.view img{
    display: block;
    position: relative;
    width: 100%;
}

.mask{
	width: 100%;
	height: 100%;
	position: absolute; /* posiciona el texto por encima de la imagen*/
    overflow: hidden; 
}

.view h2 {
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	font-size: 17px;
    padding: 20px 0px 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 0;
    top:0;
}

.view p {
   font-size: 12px;
   color: #fff;
   padding: 10px 20px;
   text-align: center;
}

.view p.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   background: #000;
   color: #fff;
   text-transform: uppercase;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
   cursor: pointer;
}
.eve
{
    margin-top: -60px;
    position: absolute;
    width: 100%;
    -webkit-transition: opacity  1s; /* For Safari 3.1 to 6.0 */
    transition: opacity  1s; 
}
.icon-s
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 60px;
    height: 60px;
    color: #ffffff;
    background: #005c9b;
    line-height: 50px;
    padding: 0px 0px;
    text-align: center;
    width: 40px;
    padding: 17px 6px 0px;
}

.icon-caja
{
    opacity: 0;
}

div .title-sectores
{
    font-size: 24px;
    color: #ffffff;
    line-height: 42px;
    margin-left: 17px;
    background: rgba(0, 0, 0, 0.8);
}
.view-first:hover .eve
{
    opacity: 0;
}

.view p.info:hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}

 /* la propiedad que se declara aqui opacara el contenido de texto  cuando la oposidad este en el  valor 0*/
 .view-first .mask
{
    -webkit-transition: opacity 1s; /* For Safari 3.1 to 6.0 */
    transition: opacity 1s; 
    opacity: 0; 
    background: rgba(0, 0, 0, 0.8);
    transition: all 1s ease-out;

}

.view-first h2
{
   opacity: 1;
}
.view-first p
{
   opacity: 1;
}
.view-first p.info 
{
   opacity: 1;  
}
.view-first .icon-caja 
{
    opacity: 1;
}

/* en esta instruccion muestra el color de fonde que colocamos al pasar el mouse*/
.view-first:hover .mask 
{
    opacity: 1; 
    top: 0;
    transition: all 0.6s ease-out;
}

.view-first:hover .icon-caja {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 60px;
    height: 100%;
    color: #ffffff;
    background: #005c9b;
    line-height: 40px;
    text-align: center;
    font-size: 32px;
    width: 40px;
    padding: 70px 5px 0px;

 }

 /*--------------------------
        Responsive
-----------------------------*/
@media (max-width:1200px)
{   
    #titulo-sectores
    {
        .vertical-sectores
        {
            width: 2px;
            background-color: #747477;
            height:116px;
            margin-left: 210px;
            margin-top:-50px;
            position:absolute;
        }
    
        .horizontal-sectores
        {
            width: 610px;
            background-color: #747477;
            height:1px;
            margin-left: 200px;
            margin-top:123px;
            position:absolute;
        }
        .vertical-sectores-ingles
        {
            width: 2px;
            background-color: #747477;
            height:125px;
            margin-left: 190px;
            margin-top:-65px;
            position:absolute;
        }
        .horizontal-sectores-ingles
        {
            width: 500px;
            background-color: #747477;
            height:1px;
            margin-left: 200px;
            margin-top:115px;
            position:absolute;
        }
    
    }
    
}

@media (max-width:992px)
{   
    #titulo-sectores
    {
        .vertical-sectores
        {
            width: 2px;
            background-color: #747477;
            height:166px;
            margin-left: 170px;
            margin-top:-50px;
            position:absolute;
        }
        .horizontal-sectores
        {
            width: 500px;
            background-color: #747477;
            height:1px;
            margin-left: 120px;
            margin-top:173px;
            position:absolute;
        }
        .titulo-sectores-ingles
        {
            font-size: 28px;
            margin-top: 40px;
        }
        .texto-sectores-ingles
        {
            font-size: 16px;
            padding: 10px
        }
        .vertical-sectores-ingles
        {
            width: 2px;
            background-color: #747477;
            height:125px;
            margin-left: 170px;
            margin-top:-90px;
            position:absolute;
        }
        .horizontal-sectores-ingles
        {
            width: 500px;
            background-color: #747477;
            height:1px;
            margin-left: 120px;
            margin-top:115px;
            position:absolute;
        }
    }   
    .titulo-beneficios
    {
        font-size: 30px;
        padding: 20px
    }
    .title p 
    {
        font-size: 22px;
    }
    #beneficios
    {
        .titulo-beneficios::before
        {
            content: '';
            left: 4%;
        }    
    }
    
}
@media (max-width:768px)
{
    #titulo-sectores
    {
        .vertical-sectores
        {
            display: none;
        }
        .horizontal-sectores
        {
            display: none;
        }

        .titulo-sectores-ingles
        {
            font-size: 28px;
        }
    
        .texto-sectores-ingles
        {
            font-size: 16px;
            padding: 10px
        }
    
        .vertical-sectores-ingles
        {
            display: none
        }
    
        .horizontal-sectores-ingles
        {
            display: none
        }
    }
    #beneficios
    {
        .titulo-beneficios
        {
           font-size: 30px;
            padding: 20px
        }
    }

    .title p 
    {
        font-size: 20px;
    }
    #beneficios
    {
        .titulo-beneficios::before
        {
            content: '';
            left: 4%;
        }    
    }
}

@media (max-width:576px)
{
    #titulo-sectores
    {
        .titulo-sectores
        {
            font-size: 28px;
        }
        .texto-sectores
        {
            font-size: 18px;
        }
        .vertical-sectores
        {
            display: none;
        }
        
        .horizontal-sectores
        {
            display: none;
        }
        .titulo-sectores-ingles
        {
            font-size: 28px;
        }
        .texto-sectores-ingles
        {
            font-size: 16px;
            padding: 10px
        }
        .vertical-sectores-ingles
        {
            display: none
        }   
        .horizontal-sectores-ingles
        {
            display: none
        }
    }
    #beneficios
    {
        .titulo-beneficios
        {
           font-size: 28px;
            padding: 20px
        }
    }
    div .title 
    {
        font-size: 20px;
        line-height: 42px;
        margin-left: 23px;
    }   
    #beneficios
    {
        .titulo-beneficios::before
        {
            content: '';
            left: 10%;
        }    
    }
}
 /*--------------------------
        Fin Responsive
-----------------------------*/

