<!DOCTYPE html>
<html lang="es">
<head>
<!--metas-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta name="author" content="Consejo Internacion de Empresarios">
    <meta name="description" content="Nos constituimos como el Consejo Internacional de Empresarios (COINE), organismo rector del área de impulso y vinculación económica">
<!-- fin metas-->
<!-- links-->
<link rel="stylesheet" href="css/normalize.css">   
<link rel="stylesheet" href="fonts/style.css"> 
<link type="image/x-icon" href="img/favicon.ico" rel="icon"/>
<link rel="stylesheet" href="css/estilos.css">  
<link rel="stylesheet" href="css/app.css">
<link rel="stylesheet" href="bootstrap-4.1.3-dist/css/bootstrap.css">
<link type="image/x-icon" href="img/favicon.ico" rel="icon"/>
<link rel="stylesheet" href="OwlCarousel2-2.3.4/dist/assets/owl.carousel.css" type="text/css">
<link rel="stylesheet" href="OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-134272024-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-134272024-1');
</script>

<!--fin links-->
    <title>Coine | Consejo Internacional de Empresarios</title>
</head>
<body ng-app="app">

  
<!--Modal execute init--> 
 <div class="modal fade" id="mostrarmodal" tabindex="-1" role="dialog" aria-labelledby="mobiramaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        <div class="modal-body">
           <a href="http://www.coine.lat/ibfamericas" target="_blank"><img src="img/invitacion_lasmaericas.jpg" width="200" height="" alt="Mobirama"></a> 
        </div>
        <!-- <div class="content-btm">
              <article>
                  <h2><span>Conoce</span> cómo obtener tu amparo ante la eliminación de<br> la <span>Compensación Universal</span></h2>
                  <a id="btn-popInit" href="https://www.talent-land.mx/speakers/#business" target="_blank" class="btn btn-primary">Ver más</a>
              </article>
          </div> -->
      </div>
    </div>
  </div> 
  <!-- End Modal -->
  
<!--modal automatico-->

<!-- <div class="modal fade" id="mostrarmodal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
       <div class="modal-content">
          <div class="modal-heade" style="position:relative;">
              <img src="img/promoSpa/banner elite health inicio1.jpg" alt="" style="width: 100%">
              <a  href="elite_health.html" class="btn btn-primary">Ver más</a>
          </div>
      </div>
  </div>
</div> -->

<!-- menu-->
<header class="navbar navbar-expand-lg  navbar-dark  sticky-top">
    <a class="navbar-brand nav-item active" href="index.html">     
        <img  class="img-nav" src="img/s.png">
    </a> 
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse"  id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
                <a class="nav-link" href="index.html">Inicio<span class="sr-only">(current)</span></a>    
          </li>
          <li class="nav-item dropdown arriba active ">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Conócenos</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="conocenos.html">Quiénes Somos</a>
                    <a class="dropdown-item" href="conocenos.html#especializamos">Nos especializamos en..</a>
                </div>
          </li>
          <li class="nav-item dropdown arriba active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Vinculación Internacional
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="inversion.html">Inversión y Comercio</a>
                <a class="dropdown-item" href="sectores.html">Sectores</a>
                <a class="dropdown-item" href="sectores.html#beneficios">Beneficios</a>
            </div>
          <!--</li><li class="nav-item active">
                <a class="nav-link disabled" href="eventos.html">Sala de Prensa</a>
          </li>-->
          <li class="nav-item dropdown arriba active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sala de Prensa
            </a>
            <div class="dropdown-menu arriba" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="http://www.coine.lat/coine_noticias/">COINE en los medios</a>
                <a class="dropdown-item" href="eventos.html">Eventos</a>
            </div>
          </li>
            <li class="nav-item dropdown arriba active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Alianzas</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="alianzas.html">Alianzas</a>
                    <a class="dropdown-item" href="acciones.html">Presencia Internacional</a>
                </div>
            </li>
          <!--<li class="nav-item active">
            <a class="nav-link disabled" href="afiliados.html">Plataforma Coine</a>
          </li>-->
          <li class="nav-item arriba active">
            <a class="nav-link disabled" href="https://www.youtube.com/channel/UC7RsRR4LlwT2ewbGBnPd60Q" target="new">COINE TV</a>
          </li>
          <li class="nav-item arriba active">
            <a class="nav-link" href="contacto.html">Contacto</a>
          </li>
          <li class="nav-item arriba active jbi-btn">
            <a class="nav-link " href="http://www.coine.lat/emprendimiento-coine/" target="_blank">Emprendimiento</a>
          </li>
        </ul>
            <div  id="headSocial" class="arriba">
                <a href="../ingles/index.html"><img src="img/ingles.png" class="img-menu"></a>
                <a href="#"><img src="img/mexico.png" class="img-menu"></a>
                <a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
            </div>
  </div>  
</header>
<!--fin de menu-->
    
<!--video-->
    <div>
        <video autoplay loop muted  src="video/intro.mp4" type="video/mp4" class="video-principa"></video>
    </div>
<!--fin video-->


		


<!-- texto inicio-->
<section  id="texto-principal">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>Somos el <span>Consejo Internacional de Empresarios</span> de América Latina y el Caribe cuyo objetivo radica en<br> crear, fomentar y consolidar relaciones comerciales y económicas para<br> el desarrollo político y empresarial a nivel global</p>
            </div>
        </div>
    </div>
</section>
<!-- fin texto inicio-->

<!-- ponencia
<section  id="ponencia">
  <div class="container" style="margin-bottom: 50px;">
      <div class="row">
          <div class="col-md-12" style="text-align: center;">
            <h1 style="margin-bottom: 40px;">Conferencia en vivo</h1>
              <iframe width="728" height="410" src="https://www.youtube.com/embed/g6E9eCqWhlw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  
            <h4 style="margin-top: 20px;">Habilidades de los Ingenieros en la Industria Petrolera para su Desarrollo Laboral.</h4>
            <h2>20 de mayo 16:30 hrs.</h2>
            <a href="https://www.youtube.com/embed/g6E9eCqWhlw" target="blank"><h3>Streaming en directo</h3></a>
            </div>
      </div>
  </div>
</section>
 fin ponencia-->

<!--texto e imagen-->
<!-- <section class="container-fluid" id="seccion-texto-imagen">
    <div class="row">
        <div class="col-md-6">
            <img src="img/imagen2.jpg" alt="Coine" class="imagen-texto">
        </div>
        <div class="col-md-6">
            <h1 class="text-center">¿ Quiénes Somos?</h1>
            <p>El Consejo Internacional de Empresarios de América Latina y El Caribe (COINE), se constituye como organismo rector del área de impulso y vinculación económica de Latinoamérica y el Caribe, integrándose de la misma forma en Asia y África a través de alianzas con la International Conference of Asian Political Parties (ICAPP) y Council of African Political Parties (CAPP). <br><br>
            Nuestro objetivo radica en contribuir en el desarrollo de integración política y económica entre países de la región latinoamericana. Contamos con una estructura perfectamente establecida que permite la facilitación de acuerdos y alianzas empresariales, cuyos alcances impactan benéficamente a las economías y la sociedad en su conjunto.
            </p>
        </div>
    </div>
</section> -->
<!-- fin texto e imagen-->


<!-- section events-->
<section id="slider-events"  ng-controller="entradas">
  <!--spinner loading-->
    <div ng-show="loading" class="lds-ring"><div></div><div></div><div></div><div></div></div>

    <div class="container" >
        <div class="row">
            <div class=" col-lg-12 col-md-12">
                <div class="content-title">
                    <h2>Eventos</h2>
                </div>
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel"  ng-controller="entradas" >
                        <div class="post-events"><a href="eventos.html"> Ver todos los eventos</a></div>
                           <ul class="content-idicators">
                               <li data-target="#carouselExampleIndicators" data-slide-to="0" dir-paginate="x in postConsulta | itemsPerPage: 4">
                                   <a href="{{x.link}}"><p class="titutlo-noticia">{{x.title.rendered}}</p></a>
                                </li>
                           </ul>
                            <div class="carousel-inner parallax">
                                <div class="carousel-item" ng-class="{active:!$index}" dir-paginate="x in postConsulta | itemsPerPage: 4">
                                    <!-- <div class="bg-overlay"></div> -->
                                   <a href="{{x.link}}"><img  ng-src="{{x._embedded['wp:featuredmedia'][0].source_url}}"  class="d-block w-100" alt="COINE"></a>
                                    <!-- <div class="carousel-caption d-none d-md-block">
                                            <a href="{{x.link}}"><p class="titutlo-noticia">{{x.title.rendered}}</p></a>
                                    </div> -->
                              </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a>
                    </div>
            </div>
        </div>
    </div>
</section>
<!--  end section events-->

 <!-- Section post blog  -->
 <section id="noticias-coine" class="content-section"  ng-controller="entradasNotices">
            <div class="container-fluid">
                    <h1 class="title title-noticias ">Noticias</h1>
              <div class="row content-noticias">
                <div class="col-md-6 col-lg-3 noticia" ng-repeat="x in postNotices  | limitTo: 4">
                     <div class="content-img-noticia" style="background-image: url({{x._embedded['wp: featuredmedia']['0'].source_url}});">
                           <a href="{{x.link}}"><img class="img-responsive" ng-src="{{x._embedded['wp:featuredmedia'][0].source_url}}"></a>
                            <!-- <img ng-if="post.better_featured_image" ng-src="{{post.better_featured_image.media_details.sizes.thumbnail.source_url}}" class="alignleft" /> -->
                            <p class="date-notice">{{ x.date | date:'MMM-yyyy' }}</p>
                    </div>
                    <hr>
                        <a href="{{x.link}}"><p class="titutlo-noticia">{{x.title.rendered}}</p></a>                 
                        <!-- <p class="texto-noticia" ng-bind-html="x.excerpt.rendered | limitTo: 200"></p> -->
                        <!-- <a href="{{x.link}}" target="_blank"><label class="seeMore">Ver más</label></a> -->
                </div>
              </div>
            </div>
</section>
     <!-- End section post blog  -->



<!--section banner  presencia internacional-->
<section id="banner-precenciaInt"  class="parallax d-flex align-items-center">
    <div class="overlay-int"></div>
    <div class="container-fluid">
        <div class="row ">
            <div class="col-lg-6"></div>
            <div class="col-lg-6">
                 <div class="content-text">
                    <h2> Presencia Internacional</h2>
                    <p>Nuestro modelo empresarial Internacional tiene la finalidad de generar opciones que potencialicen los intereses de negocios en el mercado</p>
                    <a class="btn btn-primary" href="acciones.html">Ver más</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--section banner  presencia internacional-->


<!-- testimonales-->
<section  id="seccion-testimonios">
    <div class="container">
        <div class="cont-title-testimonials">
                <h1>Testimoniales</h1>
        </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                            <img  src="img/Dr _Nafie.jpg" alt="Coine" class="card-img-top" data-toggle="modal" data-target="#testimonio3">
                            <div class="card-body">
                               <a href="http://" ><h5 class="card-title" style="padding-top:11px;">Dr. Nafie Ali Nafie<br>Secretario General del CAPP</h5></a> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img  src="img/T_1.jpg" alt="Coine" class="card-img-top" data-toggle="modal" data-target="#testimonio1">
                        <div class="card-body">
                               <a href=""><h5 class="card-title" data-toggle="modal" data-target="#testimonio1">Muhanad A. Mahmound <br> Jefe de la unidad de partidos y parlamentos africanos 
                                </h5></a> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img  src="img/T_2.jpg" alt="Coine" class="card-img-top" data-toggle="modal" data-target="#testimonio2">
                        <div class="card-body">
                                <a href=""><h5 class="card-title" data-toggle="modal" data-target="#testimonio2">Taib Aisse<br><br>   Presidente de AISSE</h5></a> 
                            </div>
                    </div>
                </div>
            </div>
    </div>
</section>
<!-- fin testimoniales-->


    <!-- Modal -->
    <div class="modal fade" id="testimonio1" tabindex="-1" role="dialog" aria-labelledby="testimonio1Label" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                    <iframe width="100%" height="400" src="https://www.youtube.com/embed/qQDMtWl_RJI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal -->
    <div class="modal fade" id="testimonio2" tabindex="-1" role="dialog" aria-labelledby="testimonio2Label" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                    <iframe width="100%" height="400" src="https://www.youtube.com/embed/eMlpBkrszAI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
            </div>
          </div>
        </div>
      </div>
    <!-- Modal -->
    <div class="modal fade" id="testimonio3" tabindex="-1" role="dialog" aria-labelledby="testimonio3Label" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                    <iframe width="100%" height="400" src="https://www.youtube.com/embed/GmLYaCsirLA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>            </div>
          </div>
        </div>
      </div>
    <!-- fin  Modal -->


<!--redes sociales-->
<section id="redes-conocenos">
        <div class="container">
            <h1 class="titulo-redes">Redes Sociales</h1>
            <div class="row text-center">
                <div class="col-md-6">
                    <a class="twitter-timeline" data-width="380" data-height="300" href="https://twitter.com/COINE_Lat?ref_src=twsrc%5Etfw">Tweets by COINE_Lat</a> 
                </div>
                <div class="col-md-6">
                    <div id="fb-root"></div>
                    <div class="fb-page" 
                        data-href="https://www.facebook.com/COINElat/" 
                        data-tabs="timeline" 
                        data-width="350" 
                        data-height="300">
                        <blockquote cite="https://www.facebook.com/COINELAT/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/COINELAT/">COINE | Consejo Internacional de Empresarios</a></blockquote>
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- fin redes sociales--->

<!--footer-->
<footer>
    <div class="content-line"></div>
    <div class="container-fluid foter">
        <div class="row">
            <div class="col-md-12" id="foter-redes">
                  <ul>
                      <a href="https://www.facebook.com/COINELat/" target="new" class="fuente-icono"><i class="fab fa-facebook-f"></i></a>
                      <a href="https://www.linkedin.com/company/22295225/" target="new" class="fuente-icono"><i class="fab fa-linkedin-in"></i></a>
                      <a href="https://twitter.com/COINE_Lat" target="new" class="fuente-icono"><i class="fab fa-twitter"></i></a>
                      <a href="https://www.youtube.com/channel/UC7RsRR4LlwT2ewbGBnPd60Q" target="new" class="fuente-icono-y"><i class="fab fa-youtube"></i></a>
                      <li>2018   l  Consejo Internacional de Empresarios ®</li>
                  </ul>
            </div>
        </div>
    </div>
</footer>
<!--fin footer-->

<!-- sript-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.6/angular-sanitize.js"></script>
<script src="//code.tidio.co/ukrqaqjv3f9hzg80knarfaeztnfcxo2p.js"></script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script src="OwlCarousel2-2.3.4/dist/owl.carousel.js" type="text/javascript"></script>
<script src="js/parallax.js"></script> 
<script src="js/angular/appPost.js"></script>
<script src="js/angular/ngMask.min.js"></script>
<script src="./node_modules/angular-utils-pagination/dirPagination.js"></script>
<script src="./node_modules/angular-recaptcha/release/angular-recaptcha.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-134272024-1"></script>
<script>
    $(document).ready(function()
    {
       $("#mostrarmodal").modal("show");
    });
  </script>

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-134272024-1');
</script>



<script>
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v3.1';
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<script type="text/javascript">
  $('.owl-carousel').owlCarousel({
      loop:true,
      margin:10,
      nav:true,
      responsive:{
          0:{
              items:1
          },
          600:{
              items:2
          },
          1000:{
              items:3
          }
      }
  })
</script>    

</body>
</html>

<!--fin sricpts-->
